.Foodcard{
    border:  1px solid black;
    padding: 20px 10px;
    width: 250px;
    border-radius: 4px;
    margin:  20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
   position: relative;
    &:hover{
        transition: 0.3s;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) ;
          transform: rotate(-1deg);

    }
}
.card-title{
   text-align: center;
   font-size: 20px;
}
.card-description{
    text-align: center;
    font-size: 15px;
}
.card-type{
    position: absolute;
    top: 1px;
    right: 1px;
  
}
.food-card-image{
    width: 100%;
}